* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-black: #17181F;
    --main-purple: #6C72CB;
    --main-pink: #CB69C1;
    --main-white: #EEEDF0;
    --main-grey: #6d6e74;
    --gutter: 2.5px;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-black);
    color: var(--main-white);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--main-purple);
    background: radial-gradient(circle, var(--main-purple) 28%, var(--main-pink) 100%);
    overflow: hidden;
    padding: 10px 10px 100px 10px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 5;
}

#logo{
    width: 50%;
    transform: translateY(50px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

#home-icon-container{
    text-decoration: none;
    color: white;
    align-self: start;
}

#home-icon{
    font-size: 29px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-white);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-white);
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 325px;
    align-items: center;
}

#search {
    margin-top: 1rem;
    width: 95%;
    height: 2.5rem;
    border-radius: 45px;
    border: none;
    text-indent: 1rem;
    align-self: center
}

#search-icon {
    color: var(--main-grey);
    align-self: end;
    margin-right: 1.5rem;
    transform: translateY(-32px);
}

#search::placeholder {
    color: var(--main-grey);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#results-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-container>h2{
    align-self: flex-start;
    margin-left: .5rem;
}

/* sección login */
#login {
    width: 100%;
    background-color: rgba(118,78,138,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorLogin {
    margin: 1.3rem 0rem;
    width: 90%;
    height: 90vh;
    border-radius: 30px;
    background-color: #17181F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.logoEnLogin {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.568); */
    background: radial-gradient(50% 50% at 50% 50%, rgba(203, 105, 193, 0.2226) 50.52%, rgba(203, 105, 193, 0.42) 100%), radial-gradient(50% 50% at 50% 50%, #6C72CB 0%, rgba(105, 110, 192, 0.4) 98.44%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoEnLogin img {
    width: 8rem;
    height: 8rem;
}

.emailYPass {
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.emailYPass input {
    width: 100%;
    height: 2.7rem;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    font-size: 1.5em;
}

.msjeUsuarios {
    background-image: linear-gradient(to right, #0c24fa, #0039fc, #0049fd, #0057fc, #0063fb, #006ffc, #007afd, #0084fc, #0091fd, #009cfc, #00a7fa, #0db1f6);
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    width: 90%;
}

.contMsjeUsers {
    background-color: var(--main-black);
    border-radius: 1.2rem;
    padding: .5rem;
    font-family: 'Nunito', sans-serif;
}

.btnesLogin {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.btonSeccLogin {
    width: 9rem;
    padding: .6rem 0rem;
    font-size: 1.9em;
    border-radius: 20px;
    border-style: none;
    color: white;
}

#btnLogin {
    background-color: #6C72CB;
}

#btnSignin {
    background-color: #CB69C1;
}

.btnGoogleSignIn {
    background: radial-gradient(50% 50% at 50% 50%, rgba(108, 114, 203, 0.72) 28.65%, rgba(203, 105, 193, 0.77) 90.1%);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGoogleSignIn p {
    font-size: 4em;
}
/* fin login */

/* sección registration */
#registration input[type=checkbox] {
    border-radius: 50%;
}

#registration input[type=checkbox]:checked {
    background-color: var(--main-pink);
}
/* fin registration */

/* sección profile */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#profile h3 {
    margin-bottom: 1.2rem;
}

.infoUsuario {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    margin: 2.5rem 0rem;
}

.infoUsuario p {
    background-color: rgba(255, 255, 255, 0.842);
    padding: .7rem .5rem;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    border-radius: 20px;
    color: black;
}

.juegosFavs {
    background-image: linear-gradient(to right, #ff4d00, #ff5700, #ff6000, #ff6800, #ff7000, #ff7f00, #ff8e00, #ff9c00, #ffb400, #ffcd00, #ffe600, #faff00);
    padding: .3rem 0rem;
    margin-bottom: 2rem;
}

.juegosFavs div {
    background-color: #17181F;
}

.juegosDeseados {
    background-image: linear-gradient(to right, #ff0000, #ff0045, #ff007b, #ff00b5, #e800ed);
    padding: .3rem 0rem;
    margin-bottom: 2rem;
}

.juegosDeseados div {
    background-color: #17181F;
}

.logros {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 20px;
    padding: 1rem;
    width: 90%;
}
/* fin profile */

/* sección cada juego */
#gameDetail {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#gameDetail h2 {
    font-size: 1.9em;
    margin-bottom: 5px;
}

#gameDetail p {
    background-color: rgba(240, 248, 255, 0.212);
    padding: 10px 5px;
    font-size: 1.5em;
}

#gameDetail > span {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
}

/* .tiendasDondeEsta {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.tiendasDondeEsta span {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#secDivision {
    width: 78%;
}

.tiendasDondeEsta span div {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.tiendasDondeEsta {
    margin-top: 1.5rem;
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tiendasDondeEsta div {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1rem .5rem;
}

.store-logo{
    width: 100%;
}

.nombreYTrama h2 {
    margin-left: 1rem;
}

.nombreYTrama div {
    background-image: linear-gradient(to right, #0c24fa, #0039fc, #0049fd, #0057fc, #0063fb, #006ffc, #007afd, #0084fc, #0091fd, #009cfc, #00a7fa, #0db1f6);
    padding: .4rem 0rem;
}

.nombreYTrama p {
    /* background-color: var(--main-black)!important; */
    background-color: rgb(68, 68, 68)!important;
    padding: .8rem!important;
}

.detailItem {
    height: fit-content;
}

#generos {
    margin: 1.5rem 0rem;
    padding-top: .5rem;
    background-color: rgba(245, 245, 245, 0.274);
}

.hsGeneros {
    height: 3.8rem;
    grid-template-columns: 10px repeat(var(--total), calc(65% - var(--gutter) * 2)) 10px !important;
    grid-template-rows: minmax(3.4rem, 1fr)!important;
}

.hsGeneros .card p {

    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.747)!important;
    color: black;
}

#resPromedio {
    width: 80%;
    border-radius: 25px!important;
    margin: 1.4rem 0rem 2.4rem 0rem;
}

#resPromedio p {
    background-color: transparent!important;
    text-align: center;
}

.descripcionJuego {
    margin-bottom: 2rem;
}

.descripcionJuego h2 {
    margin-left: 1rem;
}

.descripcionJuego div {
    background-image: linear-gradient(to right, #0c24fa, #0039fc, #0049fd, #0057fc, #0063fb, #006ffc, #007afd, #0084fc, #0091fd, #009cfc, #00a7fa, #0db1f6);
    padding: .36rem 0rem;
}

.descripcionJuego ul {
    /* background-color: var(--main-black)!important; */
    background-color: rgb(68, 68, 68)!important;
    padding: .8rem!important;
}

.contJuegosRel h2 {
    margin-left: 1rem;
}

.juegosRel {
    background-color: rgba(255, 255, 255, 0.384);
    overflow-x: hidden;
    overflow-y: clip;
    margin-bottom: 3rem;
}

.hsCarJuegosRel {
    gap: calc(var(--gutter) * 9)!important;
    height: 9rem;
    margin: .4rem -.9rem calc(-3 * var(--gutter)) -1rem!important;
    overflow-y: clip!important;
}

.textoTarj p {
    height: 1.5rem;
    width: 100%;
    font-size: 18px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reqTecnicos {
    margin-bottom: 2rem;
}

.reqTecnicos h2 {
    margin-left: 1rem;
}

.reqTecnicos div {
    background-image: linear-gradient(to right, #0c24fa, #0039fc, #0049fd, #0057fc, #0063fb, #006ffc, #007afd, #0084fc, #0091fd, #009cfc, #00a7fa, #0db1f6);
    padding: .3rem 0rem;
}

.reqTecnicos p {
    /* background-color: var(--main-black)!important; */
    background-color: rgb(68, 68, 68)!important;
    padding: .8rem!important;
}

.reseñasYFiltros {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contReseñas {
    margin: 1rem 0rem 2rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contReseñas span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin-bottom: .7rem;
}

.reseñasFiltros {
    padding: 10px 15px;
    font-size: 2em;
    border-radius: 18px;
    border: none;
    background-color: #D9D9D9;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.reseñas {
    background-image: linear-gradient(to right, #0c24fa, #0039fc, #0049fd, #0057fc, #0063fb, #006ffc, #007afd, #0084fc, #0091fd, #009cfc, #00a7fa, #0db1f6);
    padding: .3rem 0rem;
}

.reseñas p {
    /* background-color: var(--main-black)!important; */
    background-color: rgb(68, 68, 68)!important;
    padding: .8rem!important;
}
/* fin sección cada juego */

/* sección pedido de juego */
#gameReq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameReq h2 {
    margin: 1.5rem 0rem;
    font-size: 2em;
}

#gameReq input {
    border-style: none;
    margin: 2rem 0rem;
    background-color: rgba(255, 255, 255, 0.432);
}

#gameReq input::placeholder {
    color: white;
}

#gameReq input[type=text] {
    width: 92.5%;
    height: 6rem;
    font-size: 2em;
    text-align: center;
    border-radius: 13px;
}

#gameReq input:nth-child(3) { /* descripción del juego */
    height: 15rem;
}

#gameReq input:nth-child(5) { /* btn de realizar pedido */
    padding: .7rem 1rem;
    font-size: 1.6em;
    border-radius: 10px;
    align-self: flex-end;
    margin: 1rem 1rem 5rem 0rem;
    background-color: #CB69C1;
    color: white;
}
/* fin sección pedido de juego */

.carousel {
    padding: var(--gutter) 0;
    padding-bottom: 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.carousel>* {
    grid-column: 2 / -2;
}

.carousel>.full {
    grid-column: 1 / -1;
}

.carousel>h2{
    text-indent: 2.25rem;
}

.hs {
    display: grid;
    gap: calc(var(--gutter) * 5);
    grid-template-columns: 10px repeat(var(--total), calc(50% - var(--gutter) * 2)) 10px;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.hs::-webkit-scrollbar {
    display: none;
}

.hs:before,
.hs:after {
    content: '';
}

.card-link{
    text-decoration: none;
    color: white;
}

.card{
    width: 100%;
    border-radius: 15px;
}

.card img{
    width: 13rem;
    height: 7.5rem;
    border-radius: 15px;
    border: 1.5px solid black;
    object-fit: cover;
}

.card-text{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(32,32,32,0.9136029411764706) 60%, rgba(61,61,61,0.8099614845938375) 70%, rgba(97,97,97,0.4458158263305322) 80%, rgba(160,160,160,0.1516981792717087) 90%, rgba(255,255,255,0) 100%);
    border-radius: 0 0 15px 15px;
    text-align: center;
    width: 205px;
    transform: translateY(-21px);
    overflow: hidden;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text p{
    height: 1.5rem;
    width: 100%;
    font-size: 18px;
}

.two-lines-text p{
    text-align: start;
    width: 50rem;
    animation-name: move-two-lines;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

@keyframes move-two-lines {
    0% {
        margin-left: -8rem;
    }
    100% {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 4.9rem;
        flex-direction: column;
        /* Color del pop-up de la burger */
        background: rgb(203,105,193);
        background: linear-gradient(90deg, rgba(203,105,193,1) 5%, rgba(116,113,202,1) 35%, rgba(108,114,203,1) 65%, rgba(203,105,193,1) 95%);
        /* Color del pop-up de la burger */
        width: 100%;
        height: 85%;
        border-radius: 0 0 10px 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0%;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        align-self: flex-start;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 395px){
    *{
        --gutter: 7.5px;
    }
    .hs{
        margin-left: -30px;
    }
}

@media only screen and (max-width: 375px){
    *{
        --gutter: 10px;
    }
    .hs{
        margin-left: -30px;
    }
}

@media only screen and (max-width: 320px){
    *{
        --gutter: 12.5px;
    }
    .hs{
        margin-left: -50px;
    }
}