* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-black: #17181F;
    --main-purple: #6C72CB;
    --main-pink: #CB69C1;
    --main-white: #EEEDF0;
    --main-grey: #6d6e74;
    --gutter: 2.5px;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-black);
    color: var(--main-white);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--main-purple);
    background: radial-gradient(circle, var(--main-purple) 28%, var(--main-pink) 100%);
    overflow: hidden;
    padding: 10px 10px 100px 10px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 5;
}

#logo{
    width: 50%;
    transform: translateY(50px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

#home-icon-container{
    text-decoration: none;
    color: white;
    align-self: start;
}

#home-icon{
    font-size: 29px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-white);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-white);
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 325px;
    align-items: center;
}

#search {
    margin-top: 1rem;
    width: 95%;
    height: 2.5rem;
    border-radius: 45px;
    border: none;
    text-indent: 1rem;
}

#search-icon {
    color: var(--main-grey);
    align-self: end;
    margin-right: 1.5rem;
    transform: translateY(-32px);
}

#search::placeholder {
    color: var(--main-grey);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home {
    width: 100%;

}

/* sección cada juego */
.tiendasDondeEsta {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.tiendasDondeEsta span {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#secDivision {
    width: 78%;
}

.tiendasDondeEsta span div {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDetail h2 {
    font-size: 1.9em;
    margin-bottom: 5px;
}

#gameDetail p {
    background-color: rgba(240, 248, 255, 0.212);
    padding: 10px 5px;
    font-size: 1.5em;
}

#gameDetail > span {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 15px;
}

.detailItem {
    height: fit-content;
}

#generos {
    margin: 2rem 0rem;
}

.reseñasYFiltros {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contReseñas {
    margin-top: 4rem;
}

.reseñasYFiltros p {
    /* corregir para quitar los important, porque están mal */
    font-size: 2.3em!important;
    background-color: #17181F!important; 
}

.reseñasYFiltros button {
    padding: .2rem 1.8rem;
    font-size: 2.3em;
    border-radius: 18px;
    border: none;
    background-color: #D9D9D9;
}

/* .reseñas {
    border-top: ;
} */
/* fin sección cada juego */

.carousel {
    padding: var(--gutter) 0;
    padding-bottom: 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.carousel>* {
    grid-column: 2 / -2;
}

.carousel>.full {
    grid-column: 1 / -1;
}

.carousel>h2{
    text-indent: 2.25rem;
}

.hs {
    display: grid;
    gap: calc(var(--gutter) * 5);
    grid-template-columns: 10px repeat(var(--total), calc(50% - var(--gutter) * 2)) 10px;
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.hs::-webkit-scrollbar {
    display: none;
}

.hs:before,
.hs:after {
    content: '';
}

.card{
    width: 100%;
    border-radius: 15px;
}

.card img{
    width: 100%;
    border-radius: 15px;
    border: 1.5px solid black;
    object-fit: cover;
}

.card-text{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(32,32,32,0.9136029411764706) 60%, rgba(61,61,61,0.8099614845938375) 70%, rgba(97,97,97,0.4458158263305322) 80%, rgba(160,160,160,0.1516981792717087) 90%, rgba(255,255,255,0) 100%);
    border-radius: 0 0 15px 15px;
    text-align: center;
    width: 205px;
    transform: translateY(-21px);
    overflow: hidden;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text p{
    height: 1.5rem;
    width: 100%;
    font-size: 18px;
}

.two-lines-text p{
    text-align: start;
    width: 50rem;
    animation-name: move-two-lines;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
}

@keyframes move-two-lines {
    0% {
        margin-left: -8rem;
    }
    100% {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 4.9rem;
        flex-direction: column;
        /* Color del pop-up de la burger */
        background: rgb(203,105,193);
        background: linear-gradient(90deg, rgba(203,105,193,1) 5%, rgba(116,113,202,1) 35%, rgba(108,114,203,1) 65%, rgba(203,105,193,1) 95%);
        /* Color del pop-up de la burger */
        width: 100%;
        height: 85%;
        border-radius: 0 0 10px 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0%;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        align-self: flex-start;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}